.doctor-intro {
    border: 1px red solid;
    width: 45%;
    height: 45%;
    background: rgb(170, 202, 221);
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif

  }

  .image-left {
      /* border: 2px orange solid; */
      padding-top: 10px;

  }

  .intro-right {
      padding-top: 25px;
      /* border: 2px green solid; */
  }

  .description-bottom {
      padding: 15px;
      text-align: justify;
  }

  .profession-text {
      color: rgb(48, 48, 221);
      font-size: 1.2rem
  }
  .location-text {
    font-size: 0.9rem 
  }

  .checked {
      color: orangered
  }

  .reviews {
    font-size: 0.9rem 
  }